:root{
    --themeBlue: #1d3557;
    --themeRed: rgba(229,57,69,1);
    --themeMaxwidth: 1440px;
    --themeBlueHover: #2b538a;
}
html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.display-4{
    font-size:2rem!important;
    position:relative; 
}
.slideUp, .slideDown{
    opacity:0; 
}
.slideDown[data-scroll="in"]{
    animation:slideDown 0.5s linear 1;
    animation-fill-mode:forwards;
}
.slideUp[data-scroll="in"]{
    animation:slideUp 0.5s linear 1;
    animation-delay: 0.5s; 
    animation-fill-mode:forwards;
}
.slideDown[data-scroll="out"],
.slideUp[data-scroll="out"]{
    animation-direction: reverse;
}
@keyframes slideDown {
    0%{
        transform: translateY(-30px);
        opacity:0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(30px);
        opacity:0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1; 
    }
}
.fadeIn{
    animation:fadeIn 0.5s linear 1;
    animation-fill-mode: forwards;
    opacity: 0; 
}
.fadeIn#moutain{
    animation-delay: 0s; 
}
.fadeIn#leaf1{
    animation-delay: 0.5s; 
}
.fadeIn#leaf2{
    animation-delay: 1s;
}
.fadeIn#human{
    animation-delay: 1.5s;
}
.fadeIn#disk{
    animation-delay:2s; 
}
@keyframes fadeIn{
    0%{
        opacity: 0; 
    }
    100%{
        opacity:1; 
    }
}
body{
    max-width:100vw;
    overflow-x:hidden;
    width:100%;
}
.bg-primary, .btn-primary{
    background-color:var(--themeBlue)!important; 
}
.text-primary,
.btn-outline-primary {
    color:var(--themeBlue)!important;
}
.btn-outline-primary{
    border-color:var(--themeBlue)!important; 
    font-weight:500!important;
}
.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary.active {
    color:var(--themeBlueHover)!important;
    border-color:var(--themeBlueHover)!important; 
    font-weight:500!important;
}
.btn-primary:hover{
    background-color:var(--themeBlueHover)!important;
}
#carousel-example-multi{
    max-width:var(--themeMaxwidth);
    margin:auto;
}
#carousel-example-multi{
    width:100%;
    z-index:6;
}
.accordion *{
    background-color:transparent!important;
    border-radius:0px!important;
    border:none!important; 
    box-shadow:none!important; 
    color:#fff!important; 
}
nav > a{
    font-weight:500;
}
#navbar{
    position:fixed; 
    z-index:1000;
    width:100vw; 
    top:0;
    left:0; 
    transition: 0.6s; 
}
.jumbotron{
    box-shadow:none!important;
    margin-top:var(--header-height);
}
.btn-rounded{
    border-radius:3rem!important;
}
.illustration_hero, .row, .card {
    position:relative; 
}
.illustration_hero img{
    position: absolute; 
    width:100%;
    height:auto;
    bottom:0;
    right:3rem;
}
#bgred{
    z-index:0;
}
.bg-red{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,57,69,1) 100%);
}
.wave{
    position:absolute; 
    z-index:0;
    left:0;
    width:100%;
    height:100px;
    background:url('../img/wave.png');
    background-size:1000px 100px;
}
.wave.wave1 {
    animation: animate 20s linear infinite; 
    z-index:3;
    opacity:1;
    animation-delay: 0s; 
    bottom: -100%;
}
.wave.wave2{
    animation: animate2 10s linear infinite; 
    z-index:2;
    opacity:0.5;
    animation-delay: -5s; 
    bottom: -98%;
}
.wave.wave3{
    animation: animate 5s linear infinite; 
    z-index: 1;
    opacity: 0.75;
    animation-delay: -2s; 
    bottom: -96%;
}
.wave.wave4{
    animation: animate2 5s linear infinite; 
    z-index:0;
    opacity:0.7;
    animation-delay: -5s; 
    bottom: -94%;
}
@keyframes animate{
    0% {
        background-position-x: 0; 
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0% {
        background-position-x: 0; 
    }
    100% {
        background-position-x: -1000px;
    }
}
.flag-icon{
    position:absolute!important; 
    line-height:3rem!important;
    width:3rem!important;
    height:auto!important; 
    top:0.25rem;
    left:0.5rem; 
    z-index:3; 
}
.btn-floating{
    width:3rem;
    height:3rem;
    border-radius:50%;
    padding:0.5rem; 
    display:flex!important;
    justify-content:center; 
    align-items:center; 
    top:-1.5rem;
}
.carousel-indicators{
    position:relative!important;
    margin-top:1rem;
}
.carousel-indicators li{
    background-color:var(--themeRed)!important;
    width:1rem!important;
    height:1rem!important;
    margin-left:0.5rem!important;
    margin-right:0.5rem!important; 
}
.carousel-indicators li.active{
    width:2rem!important;
    height:2rem!important;
}
#disc, #redbubble{
    position:absolute;
    z-index:-1;
}
#disc{
    top: 25%;
    right:-5%;
    animation: rotate 2s linear infinite;
}
#redbubble{
    top:-28%;
    left:8%;
    width:30vw;
    height:30vw; 
}
.pricing > div:first-child > .card > .card-img-top{
    clip-path: circle(73.3% at 58% 0);
}
.pricing > div:nth-child(2) > .card > .card-img-top{
    clip-path: circle(68.6% at 50% 4%);
}
.pricing > div:nth-child(2) > .card {
    border: 5px solid var(--themeBlue);
    border-radius:0.5rem; 
}
.pricing > div:last-child > .card > .card-img-top{
    clip-path: circle(73.4% at 83% 1%);
}
.badge.bg-primary{
    background-color:var(--themeRed)!important;
    font-size:0.85rem!important; 
    font-weight:500!important;
    padding:0.5rem 1.5rem!important; 
}
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(-180deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}
.bg-blue{
    background: #1d3557;
    background: -webkit-linear-gradient(to bottom, #1d3557, #203A43);
    background: linear-gradient(to bottom, #1d3557, #203A43);
}
.mdb-color.lighten-3{
    background-color:rgba(229,57,69,.75)!important; 
}
#footer-widgets{
    position:fixed; 
    bottom:5px;
    right:15px; 
    z-index:9;
}
#footer-widgets .d-flex{
    padding:0.5rem!important;
    cursor:pointer; 
    transition:0.6s; 
}
@media screen and (min-width:768px){
    .display-4{
        font-size:3rem!important; 
    }
    #disc{
        width:300px;
        height:300px;
        right:0; 
    }
    #halflogo{
        position:absolute; 
        top:-20px;
        left:5px;
        z-index:0;
        transform: rotate(-33deg);
        width:180px;
        height:auto;
    }
    #halflogored{
        position:absolute; 
        width:100px;
        height:100px;
        top:-25px;
        left:180px;
    }
}
@media screen and (min-width:992px){
    .illustration_hero img{
        bottom:-5rem; 
    }
}
@media screen and (min-width:1024px){
    .btn-rounded{
        font-size:1.15rem; 
    }
    .illustration_hero{
        min-height:707px;
    }
    .illustration_hero img{
        width:100%;
        height:auto;
        bottom:10rem; 
    }
    .width-contained{
        max-width:var(--themeMaxwidth);
        margin-left:auto;
        margin-right:auto; 
    }
    #disc{
        width:auto;
        height:auto;
        right:-5%; 
    }
    .pricing .card {
        width:20rem; 
    }
    #halflogo{
        width:380px;
        top:-60px;
        height:auto;
        z-index:3;
    }
    #halflogored{
        top:-55px;
        left:380px;
        z-index:3; 
    }
}
@media screen and (min-width:1200px) {
    .illustration_hero img{
        width:auto;
        height:100%;
        bottom:0rem; 
    }
}